
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Cuprum:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Cuprum:wght@700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(173, 173, 204);

}
.logo{
    max-width: 5rem;
    align-items: center;
}

.contenidocon{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


.inicio{
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/fondo.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
    color: #977cd3;
    padding: 150px 0;
    
}
.inicio h2{
    font-size: 58px;
    font-family: 'Lobster', sans-serif;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    
}
.inicio p{
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}
.inicio button{
    cursor: pointer;
    background-color: #967eec;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 13px 22px;
    font-size: 16px;
    border-radius: 32px;
    color: #fff;
    position: relative;
    z-index: 10;
}


.background-image{
    object-fit: cover;
    object-position: 40% 30%;
}
/*Grupos de kpop*/

.apartadokpop{
    background-color: #e5e5f7;
    
}
.apartadokpop{
    background-color: #fff;
    padding: 30px;
    
}
.introkpop h1{
    color: #0a1138;
    text-align: center;
    font-family: 'Concert One', sans-serif;
    font-size: 35px;
    padding: 30px;


}

.gruposkpop{
    background-color: #e5e5f7;
}


.grupos_container{
    padding: 30px 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.grupos_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.grupos_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.grupo_bts{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    object-position: 40% 30%;
}

.grupos_texts{
    max-width: 700px;
    
}
.gruposkpop h2{
    font-family: 'Concert One', sans-serif;
    color: rgb(6, 14, 59);
    font-size: 30px;
}

.grupos_detalle{
    font-family: 'Concert One', sans-serif;
    color: rgb(6, 14, 59);
    font-size: 30px;
    display: inline-block;
    padding: 5px;
}

.grupos_arrow{
    width: 90%;
    cursor: pointer;
}



.nav-lista{
    display: flex;
    list-style-type: none;
    gap: 1rem; 
   align-items: center;
}
.nav-lista li a{
    text-decoration: none;
    color: rgb(58, 57, 57);
    font-weight: bolder;
}
.menu-abierto,
    .cerrar-menu{
        display: none;
    }
    /* Aqui inician las tarjetas de Discografias */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.casa{
    background-color: rgb(112, 112, 165);
}
.container-table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:3em;
    justify-content: space-evenly;
    align-items: center;
}
.subtitle{
    color: #0a1138;
    font-family: 'Concert One', sans-serif;
    text-align: center;
    font-size: 35px; 
    padding: 30px 0 0 0;
}

.card-container{
    background-color: rgb(217, 196, 233);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    font-family: sans-serif;
}
.bot{
    border: 2px solid #151D3B;
    border-radius: 50px;
    width: fit-content;
    font-size: 17px;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 10px 22px;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.bot:hover{
    background: rgb(243, 243, 211);
    color: rgb(22, 22, 22);
}
.imagen1{
    max-width: 15rem;
}

.imagen2{
    max-width: 15rem;
}
.imagen3{
    max-width: 15rem;
}
/*KDRAMAS*/


  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    color: #000;
    font-size: 41px;
    font-weight: 300;
    font-family: 'Lobster', sans-serif;
    text-align: left;
    padding-left: 20px;
  }

  .swiper-slide .subtitle1 {
    font-family: 'Roboto Mono', monospace;
    color: #000;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    
  }


  .swiper-slide .text {
    color: #000;
    
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
    
  }
  .text p{
    font-family: 'Cuprum', sans-serif;
    text-align: justify;
    padding-left: 20px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
/*ALIMENTOS*/
.containerA{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}
.alimen{
    background-color: rgb(112, 112, 165);
}
.container-tableA{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:3em;
    justify-content: space-evenly;
    align-items: center;
}
.card-containerA .imagen1{
    height: 100px;
    width: 180px;
}
.card-containerA{
    background-color: rgb(233, 234, 248);
    text-align: center;
    border-radius: 10px;
    width: 230px;
    padding: 30px;
    font-family: sans-serif;
}



/*Tarjetas de lugares*/
.container2-table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap:3em;
    justify-content: space-evenly;
    align-items: center;
}
.subtitle2{
    color: #0a1138;
    font-family: 'Concert One', sans-serif;
    font-size: 35px; 
    padding: 30px 0 0 0;
}
.card-container2{
    background-color: rgb(165, 175, 206);
    text-align: center;
    border-radius: 10px;
    width: 480px;
    padding: 40px;
    font-family: sans-serif;
}
.card-container2 figure{
    padding: 20px;
}
.contenido2 p{
    font-family: 'Cuprum', sans-serif;
color: #0a1138;
}

/*COMENTARIOS */
.contacto{
    background-color: #0a1138;
    color: #977cd3;
    padding: 150px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto form{
    display: grid;
    grid-column: 1 / 3;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Concert One', sans-serif;
    text-align: center;
    padding: 20px 0;
    
}
.contacto .fila{
    display: flex;

}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #031a36;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 20px;
}
.contacto .col input{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #031a36;
    
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #447a99;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}

@media screen and (max-width: 800px){
    .grupos_container{
        grid-template-columns: 30px 1fr 30px;
    }

    .grupos_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }
    
    .grupo_bts{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 800px){
    .contacto, .contenido-seccion, .col, .fila{
        width: auto;
        margin: auto;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
        margin-top: 100px;
    }
}

@media screen and (max-width: 550px){
    .menu-abierto{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        color: rgb(2, 1, 1);
    }
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        color: rgb(190, 172, 172);
    }
    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(32, 31, 31);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;  
    }
    .nav-lista{
        flex-direction: column;
        align-items: end;
    }
    .nav-lista li a{
        color: rgb(112, 76, 211);
    }
    .home, .container, .card-container{
        width: auto;
        margin: auto;
    }

}

